* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-family: 'Amiri', 'Nunito', 'sans-serif', 'cursive';
    word-spacing: 5px;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ac1c25;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* Handle on hover */


nav {
    width: 100%;
    height: 93px;
    padding: 7px 20px;
    z-index: 99;
    background: white;
    top: 0px;
    left: 0;
    position: fixed;
    box-shadow: 0px 0px, 0px 0px 4px black;
    overflow: hidden;
}
nav .container .nav-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

nav .container .nav-container .logo {
    width: max-content;
    height: 35px;
    align-items: center;
}

nav .logo img {
    width: 27%;
    margin-top: -5%; 
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

nav .logo img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

nav ul {
    margin: 3px 0px;
    display: -webkit-inline-box;
    float: right;
}

nav ul li {
    overflow: hidden;
    margin-top: 10%;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.548);
}

nav ul li a:hover {
    color: #F2212E;
}

@media (max-width: 850px) {
    nav {
        height: 65px;
    }
    nav .logo img {
        width: 17%;
    }
    nav .logo {
        padding: 5px 0px;
    }
    nav .checkbtn .p p {
        margin-right: -5px;
        font-size: 25px;
        color: #F2212E;
        margin-top: -45px;
    }
    nav .checkbtn:hover .p {
        display: inline;
    }
    nav .checkbtn:hover p {
        margin-right: 45px;
    }
    nav ul li:hover {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

@media (max-width: 500px) {
     nav {
        height: 45px;
    } 
    nav .logo img {
        width: 13%;
    }
    nav .fas.fa-bars {
        font-size: 20px;
    }
    nav ul li {
        margin: 0px;
        width: max-content;
    }
    nav ul li a {
        font-size: 10px;
        padding: 5px 10px;
    }
    #check:checked~ul {
        top: 5%;
    }
}
/*         end nav bar         */
.container- {
    width: 100%;
    height: fit-content;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 33% 45% 1fr;
    margin-top: 70px;
}
/*    slider     */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    margin-top: 150px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
}

  .swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-slide img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
/*    slider    */
.container- .content {
    top: 30px;
    padding: 20px;
}
.container- .content h2 {
    font-size: 24px;
    font-weight: bold;
}
.container- .content p {
    font-size: 22px;
    font-weight: bolder;
    color: #F2212E;
}
.container- .content .important p span:first-of-type {
    background: #4F97FA;
    color: white;
    font-weight: unset;
    padding: 5px;
    font-size: 16px;
    margin: 10px 20px;
}
.container- .content .details span {
    color: rgba(0, 0, 0, 0.733);
    font-size: 18px;
    padding-left: 5px;
}
.container- .content .details p {
    color: black;
}
.policy {
    padding: 20px;
    text-align: center;
}
.policy ul li {
    overflow: hidden;
}
.policy ul li:hover a {
    color: orangered;
    background: none;
}
.policy ul li:hover i {
    color: orangered;
}
.policy ul li p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.671);
}
.policy ul li:not(:first-of-type) {
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 10px;
}
.policy ul li i {
        font-size: 36px;
        padding-top: 5px;
        width: 50px;
        float: left;
        margin-right: 0px;
        color: #4F97FA;
}
.policy ul li a {
    text-decoration: none;
    color: black;
   
}
.policy ul li:first-of-type {
    padding: 20px;
    font-size: 18px;
}
.policy ul li:first-of-type {
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 10px 0px;
}
.policy ul li span:first-of-type {
    background: #F2212E;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    display: block;
}
.policy ul li img {
    width: 50%;
    display: block;
    margin: auto;
}
.button {
    margin: 10px auto;
    grid-column: 1 / 4;
}
.button a {
    text-align: center;
    background: #4F97FA;
    color: white;
    font-size: 30px;
    padding: 10px 100px;
    text-decoration: none;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: all 1s ease;
}
.button:hover a {
    background: #4f96fab6;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
@media (max-width: 1000px){
.container- {
    display: block;
}
.container- .swiper-slide {
    width: 50%;
    padding-bottom: 0px;
    margin: 5px auto;
    height: 0%;
}
.container- .content h2 {
    font-size: 20px;
    text-align: center;
}
.container- .content p {
    font-size: 18px;
    font-weight: bold;
}
.container- .content .important p span:first-of-type {
    font-size: 14px;
}
.container- .content .details span {
    font-size: 16px;
}
.policy {
    padding: 50px;
}
.policy ul li img {
    width: 18%;
}
.button {
    margin-left: 39%;
}
.button a {
    font-size: 24px;
    padding: 10px 50px;
}
}
@media (max-width: 530px) {
    .button {
        margin-left: 33%;
    }
    .swiper-container {
        padding-top: 0px;
        padding-bottom: 80px;
    }
}
@media (max-width: 400px) {
    .container- .swiper-slide {
        width: 60%;
    }
    .container- .content h2 {
        font-size: 18px;
        text-align: center;
    }
    .container- .content p {
        font-size: 16px;
        font-weight: bold;
    }
    .container- .content .important p span:first-of-type {
        font-size: 13px;
        margin: 0px;
    }
    .container- .content .details span {
        font-size: 15px;
    }
    .policy {
        padding: 20px;
    }
    .button {
        margin-left: 35%;
    }
    .button a {
        font-size: 18px;
        padding: 10px 30px;
    }
}